body {
  font-family: Arial, sans-serif;
  background-color: #EEF5FF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #35a29f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: rgba(53, 162, 159, 0.8);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the middle */
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.history {
  margin-top: 20px;
}

/* Style for Remove and Edit buttons */
.remove-btn,
.edit-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  font-size: 10px; /* Reduced font size */
  padding: 4px 8px; 
  width:25%;
}

.remove-btn:hover,
.edit-btn:hover {
  background-color: #c0392b;
}
